body {
  background-color: #e9e998;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  margin: 25px;
  font-size: 18px;
}

a:visited {
  color: #b6970d;
}
img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
